/* General Reset */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
.header {
    background-color: #228B22;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.header h1 {
    margin: 0;
    font-size: 4em;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #50C878;
    color: black;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 5px;
}
#our-team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    background-color: #50C878;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    margin: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h2 {
    color: white;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    background-color: #F5F5DC;
    color: black;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

.footer p {
    margin: 5px 0;
}